<footer class="bg-light p-3 mt-5">
<div class="footer-header">
  <h4>Get The FreshCart app</h4>
  <p>we will send you a link, open it in your phone to download app </p>
</div>
<div class="container">
<div class="download-app d-flex text-align-center justify-content-between">
  <input type="email"  class="form-control mb-2 me-5 w-75" placeholder="Email.."/>

<button class="btn bg-main border-0 text-white w-25">Share App Link</button>
</div>
<div class="pay d-flex justify-content-between text-align-center align-items-center border-top border-bottom mt-4 mb-4 ">
<div class="right d-flex">
<h6>Payment Partners
  <img src="assets/images/pngwing.com (2).png" style="width: 10%;">
  <img src="assets/images/pngwing.com (3).png" style="width: 10%;">
  <img src="assets/images/pngwing.com (4).png" style="width: 10%;">
  <img src="assets/images/pngwing.com (5).png" style="width: 10%;">
</h6>

</div>
<div class="left">
  <p>Get deliveries with FreshCart
    <img src="assets/images/pngwing.com (1).png" style="width: 20%;">
    <img src="assets/images/pngwing.com.png" style="width: 20%;" >
  </p>
</div>
</div>
</div>
</footer>
