<div class="row gx-0 py-4">
  <div class="col-sm-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img height="400" src="assets/images/slider-image-1.jpeg" />
      </ng-template>
      <ng-template carouselSlide>
        <img height="400" src="assets/images/slider-image-2.jpeg" />
      </ng-template>
      <ng-template carouselSlide>
        <img height="400" src="assets/images/slider-image-3.jpeg" />
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-sm-3">
    <img
      height="200"
      src="assets/images/colorful-fruits-tasty-fresh-ripe-juicy-white-desk.jpg"
    />
    <img
      height="200"
      src="assets/images/fresh-fruit-berry-salad-healthy-eating.jpg"
    />
  </div>
</div>
